.footer {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(57, 64, 71, 0.7098039215686275);
    padding: 2rem 0;
    color: $white;
    font-weight: bold;
    text-align: center;
    .footer__copyrightAddress--mail {
        text-decoration: none;
        color: #dad5b8;
    }
    .footer__copyright {
        @include screen(tablet) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding: 0 4rem;
        }
    }
}

.listUser {
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
